<section class="weather__card" (click)="openDetails()" [ngClass]="{'weather__card-dark': darkMode}">
    <!-- TODO: make the city name dynamic -->
    <span class="city-name__text">Paris</span>
      <div class="weather-icon__container" [ngSwitch]="true">
  
        <svg *ngSwitchCase="condition === 'Clouds'">
          </svg>
  
          <svg *ngSwitchCase="condition === 'Rain' || condition === 'Drizzle'">
          </svg>
  
          <svg *ngSwitchCase="condition === 'Storm'">
          </svg>
  
  
          <svg *ngSwitchCase="condition === 'Sunny' || condition === 'Clear'">
          </svg>
  
        <svg  *ngSwitchCase="condition === 'Fog'"></svg>
      </div>
      <div class="temperature-text__container">
          <span class="temperature__text">{{ currentTemp }}</span>
          <span class="temperature-metric__text">°</span>
          <span class="weather-condition__text">{{ condition }}</span>
      </div>
      <section class="min-max__container">
          <div class="min__container">
              <svg class="min-arrow__icon" viewBox="188.5 807 21 21">
                  <path fill="#00ff9b" d="M209.5 817.5h-21L199 828z" data-name="Min Arrow"/>
              </svg>
  
              <span class="min-temperature__text">{{ minTemp }}</span>
              <span class="min__text">Min</span>
          </div>
          <div class="max__container">
              <svg class="max-arrow__icon" viewBox="449.5 820 21 21">
                  <path fill="red" d="M449.5 830.5h21L460 820z" data-name="Max Arrow"/>
              </svg>
              <span class="max-temperature__text">{{ maxTemp }}</span>
              <span class="max__text">Max</span>
          </div>
      </section>
  </section>